[submodule "NiTiS.Math"]
	path = ext/NiTiS.Math
	url = https://github.com/NiTiS-Dev/NiTiS.Math
	branch = dev
[submodule "NiTiS.Collections"]
	path = ext/NiTiS.Collections
	url = https://github.com/NiTiS-Dev/NiTiS.Collections
	branch = dev
[submodule "NiTiS.Core"]
	path = ext/NiTiS.Core
	url = https://github.com/NiTiS-Dev/NiTiS.Core
	branch = dev
